<h2 anchor="about">about</h2>

<h3 anchor="references">references</h3>
<p class="mat-body">
  These solutions were used for globe implementation:<br />
  <a href="https://www.jasondavies.com/maps/rotate/">Rotate the World</a> by Jason Davies<br />
  <a href="https://jorin.me/d3-canvas-globe-hover/">Create a 3D globe with D3.js</a> by Jorin Vogel<br />
  <a href="http://bl.ocks.org/ivyywang/7c94cb5a3accd9913263">Drag to Rotate the Globe</a> by ivyywang<br />
</p>

<h3 anchor="data">data</h3>
<p class="mat-body">
  Following datasets are used for countries geospatial data:<br />
  <a href="https://github.com/topojson/world-atlas">world-atlas@2.0.2</a> by Mike Bostock<br />
  <a href="https://public.opendatasoft.com/explore/dataset/ne_10m_admin_0_countries/information/">Natural Earth - Countries scale 1:10m</a> from OpenDataSoft<br />
</p>

