@use '@angular/material' as mat;

$custom-typography: mat.m2-define-typography-config(
  $font-family: '"Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial, sans-serif;'
);
@include mat.all-component-typographies($custom-typography);
@include mat.core();

:host {
  display: flex;
  justify-content: center;
}

:host, div.mat-typography {
  height: 100%;
  width: 100%;
}

div.mat-typography {
  display: block;
  max-width: 1000px;
}
