@use '@angular/material' as mat;

$custom-typography: mat.define-legacy-typography-config(
  $font-family: '"Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial, sans-serif;'
);
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();

:host {
  display: flex;
  justify-content: center;
}

:host, div.mat-typography {
  height: 100%;
  width: 100%;
}

div.mat-typography {
  display: block;
  max-width: 1000px;
}
