:host {
  display: flex;
  justify-content: center;
  padding: 16px;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#controls {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

#date-range-selector {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

::ng-deep #map {
  .globe {
    fill: none;
    stroke: black;
    stroke-width: 2;
  }

  .graticule {
    fill: none;
    stroke: rgba(0, 0, 0, 0.17);
  }

  .land {
    fill: rgba(0, 0, 0, 0.17);
    stroke: none;
  }

  .border {
    fill: none;
    stroke: rgba(255, 255, 255, 0.7);
  }

  .country {
    stroke: none;
    fill: rgba(108, 229, 178, 0.74);
  }

  .location {
    cursor: pointer;
    paint: stroke;
    stroke: white;
    fill: rgb(74 188 198);

    &:hover {
      fill: rgb(217 210 88);
    }
  }

  .scrolling {
    display: none;
  }
}
